.right-section{
    padding-left: 50px;
    width: 25%;
    overflow: scroll;
    height: 80vh;
}
.watch-video{
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px 1px #8888;
}
.watch-video-header{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
}
.watch-video-header-left,
.watch-video-header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch-video-header-left button,
.watch-video-header-right button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: background-color 0.15s;
    cursor: pointer;
}
.watch-video-header-left button:hover,
.watch-video-header-right button:hover{
    background-color: #efefef;
}

.watch-video-header-middle{
    display: block;
    margin-top: 5px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 15px;
}
.box-name{
    font-weight: bold;
    cursor: pointer;
    transition: text-decoration 0.15s;
    margin-bottom: 5px;
}
.box-name:hover{
    text-decoration: underline;
}
.suggestion{
    color: rgb(101, 103, 107);
}

.watch-video-header-left button img,
.watch-video-header-right button img{
    height: 20px;
    width: 20px;
}
.video-contain{
    display: block;
}
.video-image{
    display: block;
    height: 120px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin: auto;
    margin-bottom: 10px;
}
.video-footer{
    display: flex;
    height: 40px;
}
.video-channel-profile{
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-channel-profile img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
}
.video-channel-name{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    color: rgb(101, 103, 107);
    transition: text-decoration 0.15s;
    cursor: pointer;
}
.video-channel-name:hover{
    text-decoration: underline;
}
.video-title{
    font-weight: bolder;
    cursor: pointer;
    transition: text-decoration 0.15s;
}
.video-title:hover{
    text-decoration: underline;
}
